<p class="me-auto mb-2">

<%= form_tag projects_path, :method => 'get',id:'search' do %>
    <%= search_field_tag :search, params[:search], placeholder: "Search By Domain or Description"  %>
    <%= button_tag type:"submit",class:"btn btn-primary btn-sm" do%>
      <i class="fa fa-search"></i>
    <% end %>
    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#myModal">
      <i class="fa fa-filter"></i>
    </button>
<% end %>

</p>

