<% content_for :javascript_includes do %>
  <%= javascript_include_tag "projects.js" %>
<% end %>
<div class="container p-4">
  <% if @projects %>
    <%= render 'projects/form_filter' %>

    <div class="table-responsive  p-4 m-4">
      <table class="table table-light table-striped" id="projectTable">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User</th>
          <th scope="col">Project Domain</th>
          <th scope="col">Description</th>
          <th scope="col">Budget</th>
          <th scope="col">Time Estimate</th>
        </tr>
        </thead>
        <tbody id="project_items">
        <% @projects.each do |project| %>
        <%=render 'projects/project', project:project %>
        <%end %>
        </tbody>

      </table>
    </div>
  <% end %>
</div>
