<%if @projects%>
  <div class="table-responsive">

  <table class="table table-light table-striped p-4 m-4">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Domain</th>
      <th scope="col">Description</th>
      <th scope="col">Budget</th>
      <th scope="col">Time Estimate</th>

    </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>

        <%=render 'projects/project', project:project %>
      <%end %>
    </tbody>

  </table>
  </div>
<%end %>